{% extends '../base.html' %}

{% block css_link %}
	<link href="/assets/css/user.css" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}
		<div id="user">
				<form id="join-form" name="joinForm" method="post" action="/user/modify">{% csrf_token %}
					<label>이름</label>
					<h4>{{ user.name }}</h4>

					<label>이메일</label>
					<h4>{{ user.email }}</h4>

					<label class="block-label">패스워드</label>
					<input id="password" name="password" type="password" value="{{ request.session.authuser.password }}">

					<fieldset>
						<legend>성별</legend>
						<h4>{{ user.gender }}</h4>
					</fieldset>

					<input id="authuser_password" type="hidden" value="{{ request.session.authuser.password }}">
					{% if user.password == request.session.authuser.password %}
					<input id="btn-submit" type="submit" value="수정하기">
					<script type="/text/javascript">
						if ($('#password').val() == $('#authuser_password').val()){
							alert('동일한 비밀번호 입니다.');
						}
						else {
							alert('수정되었습니다.');
						}
						<!-- 아직... 전부 완료되지 않았다. -->
					</script>
					{% else %}
					<h4>수정되었습니다!</h4>
					{% endif %}
				</form>
		</div>
{% endblock %}
